.mobile-JL-tela-login {
  background-color: var(--tokens-base-background-prim-ria);
  overflow: hidden;
  width: 100%;
  min-width: 596px;
  min-height: 1292px;
  position: relative;
}

.mobile-JL-tela-login .login {
  position: absolute;
  top: 177px;
  left: 0;
  width: 685px;
  height: 1115px;
}

.mobile-JL-tela-login .rectangle {
  position: absolute;
  top: 306px;
  left: 0;
  width: 596px;
  height: 809px;
  background-color: var(--tokens-base-background-window-prim-ria);
  border-radius: 50px;
  box-shadow: 0px -2px 25px 5px #00000040;
}

.mobile-JL-tela-login .jialist-PC {
  position: absolute;
  top: 1030px;
  left: 494px;
  width: 97px;
  height: 81px;
  aspect-ratio: 1.19;
}

.mobile-JL-tela-login .or-login {
  position: absolute;
  top: 902px;
  left: 140px;
  width: 313px;
  height: 103px;
}

.mobile-JL-tela-login .boto-google {
  display: flex;
  width: 70px;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  position: absolute;
  top: 51px;
  left: 24px;
  background-color: #fffdfd;
  border-radius: 15px;
}

.mobile-JL-tela-login .google {
  position: relative;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  object-fit: cover;
}

.mobile-JL-tela-login .boto-facebook {
  position: absolute;
  top: 44px;
  left: 120px;
  width: 70px;
  height: 59px;
}

.mobile-JL-tela-login .facebook {
  position: absolute;
  top: 7px;
  left: 0;
  width: 70px;
  height: 50px;
  background-color: #fffdfd;
  border-radius: 15px;
}

.mobile-JL-tela-login .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 59px;
  aspect-ratio: 1.18;
}

.mobile-JL-tela-login .boto-apple {
  display: flex;
  width: 70px;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 0px 9px;
  position: absolute;
  top: 51px;
  left: 216px;
  background-color: #fffdfd;
  border-radius: 15px;
}

.mobile-JL-tela-login .apple {
  position: relative;
  width: 49px;
  height: 49px;
  aspect-ratio: 1;
  object-fit: cover;
}

.mobile-JL-tela-login .login-with {
  position: absolute;
  top: 0;
  left: calc(50.00% - 156px);
  width: 315px;
  height: 22px;
}

.mobile-JL-tela-login .text-wrapper {
  position: absolute;
  top: 0;
  left: calc(50.00% - 44px);
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #b0b0b0;
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.mobile-JL-tela-login .line {
  left: 0;
  position: absolute;
  top: 10px;
  width: 85px;
  height: 2px;
}

.mobile-JL-tela-login .line-2 {
  left: 228px;
  position: absolute;
  top: 10px;
  width: 85px;
  height: 2px;
}

.mobile-JL-tela-login .boto-login {
  display: flex;
  width: 451px;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 798px;
  left: 73px;
  background-color: var(--tokens-base-texto-window-segunda);
  border-radius: 50px;
}

.mobile-JL-tela-login .div {
  position: relative;
  width: fit-content;
  margin-top: -1.50px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: var(--primary-base-branco);
  font-size: 35px;
  text-align: center;
  letter-spacing: 1.40px;
  line-height: normal;
  white-space: nowrap;
}

.mobile-JL-tela-login .n-o-tem-uma-conta {
  position: absolute;
  top: calc(50.00% + 132px);
  left: 247px;
  width: 270px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0.60px;
  line-height: normal;
}

.mobile-JL-tela-login .span {
  font-weight: 700;
  color: #b0b0b0;
  letter-spacing: 0.09px;
}

.mobile-JL-tela-login .text-wrapper-2 {
  font-weight: 800;
  color: #6ab472;
  letter-spacing: 0.09px;
}

.mobile-JL-tela-login .input-senha {
  position: absolute;
  top: 619px;
  left: 73px;
  width: 451px;
  height: 60px;
  display: flex;
  background-color: var(--tokens-base-background-caixa-input);
  border-radius: 50px;
}

.mobile-JL-tela-login .lucide-lock-keyhole {
  margin-top: 17px;
  width: 21px;
  height: 22px;
  position: relative;
  margin-left: 25px;
}

.mobile-JL-tela-login .vector {
  position: absolute;
  width: 75.00%;
  height: 83.33%;
  top: 4.92%;
  left: 8.93%;
}

.mobile-JL-tela-login .text-wrapper-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: 22px;
  width: 49px;
  align-self: center;
  margin-left: 22px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--tokens-base-texto-input-sele-o);
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.mobile-JL-tela-login .lucide-eye {
  margin-top: 18px;
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: 280px;
}

.mobile-JL-tela-login .vector-2 {
  position: absolute;
  width: 83.34%;
  height: 58.33%;
  top: 16.67%;
  left: 4.16%;
}

.mobile-JL-tela-login .input-e-mail {
  position: absolute;
  top: 532px;
  left: 73px;
  width: 451px;
  height: 60px;
  display: flex;
  gap: 21px;
  background-color: var(--tokens-base-background-caixa-input);
  border-radius: 50px;
}

.mobile-JL-tela-login .lucide-mail {
  margin-top: 20px;
  width: 22px;
  height: 20px;
  position: relative;
  margin-left: 23px;
}

.mobile-JL-tela-login .vector-3 {
  position: absolute;
  width: 83.33%;
  height: 66.67%;
  top: 12.92%;
  left: 4.92%;
}

.mobile-JL-tela-login .text-wrapper-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 95px;
  align-self: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--tokens-base-texto-input-sele-o);
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.mobile-JL-tela-login .jialist-PC-2 {
  position: absolute;
  top: 0;
  left: 328px;
  width: 268px;
  height: 446px;
  aspect-ratio: 0.79;
}

.mobile-JL-tela-login .text-wrapper-5 {
  position: absolute;
  top: 381px;
  left: 71px;
  width: 196px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-home-texto-titulos-windows-home);
  font-size: 60px;
  text-align: center;
  letter-spacing: 2.40px;
  line-height: normal;
  white-space: nowrap;
}

.mobile-JL-tela-login .icons {
  position: absolute;
  top: -72px;
  left: -116px;
  width: 374px;
  height: 360px;
  display: flex;
}

.mobile-JL-tela-login .jialist-PC-3 {
  margin-top: 72px;
  width: 258px;
  height: 288px;
  margin-left: 116px;
  aspect-ratio: 1.04;
}

.mobile-JL-tela-login .boas-vindas {
  position: absolute;
  top: 255px;
  left: 40px;
  width: 367px;
  height: 164px;
}

.mobile-JL-tela-login .text-wrapper-6 {
  position: absolute;
  top: 120px;
  left: 6px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-base-texto-background-prim-ria);
  font-size: 32.3px;
  letter-spacing: 1.29px;
  line-height: normal;
}

.mobile-JL-tela-login .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #fffdfd;
  font-size: 90px;
  letter-spacing: 3.60px;
  line-height: normal;
}
