.JL-PC-tela-home {
  background-color: var(--tokens-base-background-prim-ria);
  overflow: hidden;
  width: 100%;
  min-width: 1566px;
  min-height: 710px;
  position: relative;
}

.JL-PC-tela-home .home {
  position: absolute;
  top: 0;
  left: 270px;
  width: 1272px;
  height: 710px;
  background-color: var(--tokens-base-background-window-prim-ria);
  border-radius: 50px;
}

.JL-PC-tela-home .JL-folha {
  position: absolute;
  top: 457px;
  left: 790px;
  width: 577px;
  height: 253px;
  aspect-ratio: 1.04;
}

.JL-PC-tela-home .window-home {
  position: absolute;
  top: 29px;
  left: 319px;
  width: 1005px;
  height: 690px;
}

.JL-PC-tela-home .window-estoque {
  position: absolute;
  top: 145px;
  left: 106px;
  width: 754px;
  height: 545px;
}

.JL-PC-tela-home .window-estoque-min {
  position: absolute;
  top: 0;
  left: 0;
  width: 754px;
  height: 504px;
  background-color: var(--tokens-home-icons-windows-home);
  border-radius: 15px;
}

.JL-PC-tela-home .boto-add-lista {
  position: absolute;
  top: 447px;
  left: 369px;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: var(--tokens-home-texto-titulos-windows-home);
  border-radius: 20.03px;
}

.JL-PC-tela-home .lucide-plus {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  margin-left: 6.1px;
  position: relative;
}

.JL-PC-tela-home .vector {
  position: absolute;
  width: 58.33%;
  height: 58.33%;
  top: 17.50%;
  left: 17.50%;
}

.JL-PC-tela-home .window-titulo {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 758px;
  height: 89px;
}

.JL-PC-tela-home .div {
  position: absolute;
  top: 0;
  left: 0;
  width: 754px;
  height: 89px;
  background-color: var(--tokens-home-texto-titulos-windows-home);
  border-radius: 15px;
}

.JL-PC-tela-home .text-wrapper {
  position: absolute;
  top: 52px;
  left: 148px;
  width: 257px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 22px;
  letter-spacing: 0.88px;
  line-height: normal;
  white-space: nowrap;
}

.JL-PC-tela-home .text-wrapper-2 {
  position: absolute;
  top: 4px;
  left: 146px;
  width: 203px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 47.8px;
  letter-spacing: 1.91px;
  line-height: normal;
  white-space: nowrap;
}

.JL-PC-tela-home .boto-voltar {
  display: flex;
  width: 49px;
  height: 44px;
  align-items: center;
  gap: 29.03px;
  padding: 5.81px;
  position: absolute;
  top: 18px;
  left: 32px;
  transform: rotate(-90.00deg);
}

.JL-PC-tela-home .img {
  position: relative;
  width: 34px;
  height: 34px;
  margin-top: -0.81px;
  margin-bottom: -0.81px;
  margin-left: -1.00px;
  transform: rotate(90.00deg);
}

.JL-PC-tela-home .botes {
  position: absolute;
  top: 25px;
  left: 702px;
  width: 45px;
  height: 51px;
  gap: 3px;
  display: flex;
  flex-direction: column;
}

.JL-PC-tela-home .boto-limpar-excluir {
  display: flex;
  margin-left: 3.9px;
  width: 30.31px;
  height: 35.99px;
  position: relative;
  align-items: center;
  gap: 18.94px;
  padding: 7.58px 5.68px;
  background-color: var(--tokens-windows-icons-home-estoque-listas);
  border-radius: 5.68px;
}

.JL-PC-tela-home .vector-2 {
  position: relative;
  width: 20.84px;
  height: 22.89px;
  margin-top: -1.03px;
  margin-bottom: -1.03px;
  margin-left: -1.18px;
  margin-right: -0.71px;
}

.JL-PC-tela-home .text-wrapper-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  width: 43px;
  height: 12px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 11px;
  letter-spacing: 0.44px;
  line-height: normal;
  white-space: nowrap;
}

.JL-PC-tela-home .rectangle {
  position: absolute;
  top: 368px;
  left: 23px;
  width: 705px;
  height: 62px;
  background-color: var(--tokens-windows-icons-window-home-estoque-listas);
  opacity: 0.67;
}

.JL-PC-tela-home .rectangle-2 {
  position: absolute;
  top: 235px;
  left: 24px;
  width: 705px;
  height: 64px;
  background-color: var(--tokens-windows-icons-window-home-estoque-listas);
  opacity: 0.67;
}

.JL-PC-tela-home .rectangle-3 {
  position: absolute;
  top: 105px;
  left: 23px;
  width: 705px;
  height: 65px;
  background-color: var(--tokens-windows-icons-window-home-estoque-listas);
  opacity: 0.67;
}

.JL-PC-tela-home .GRADE {
  position: absolute;
  top: 105px;
  left: 23px;
  width: 705px;
  height: 440px;
  display: flex;
  flex-direction: column;
  opacity: 0.61;
}

.JL-PC-tela-home .line {
  margin-left: 0;
  width: 704.96px;
  height: 3.51px;
  margin-top: -3.5px;
}

.JL-PC-tela-home .line-2 {
  margin-left: 0;
  width: 704.96px;
  height: 5.22px;
  margin-top: 63.1px;
}

.JL-PC-tela-home .line-3 {
  width: 704.98px;
  height: 3.51px;
  margin-top: 58.7px;
}

.JL-PC-tela-home .line-4 {
  margin-left: 0;
  width: 704.96px;
  height: 3.51px;
  margin-top: 62.9px;
}

.JL-PC-tela-home .line-5 {
  margin-left: -7857.0px;
  width: 704.96px;
  height: 1px;
  margin-top: 3900.4px;
}

.JL-PC-tela-home .produto {
  top: 375px;
  width: 692px;
  height: 49px;
  position: absolute;
  left: 33px;
  display: flex;
}

.JL-PC-tela-home .botes-2 {
  margin-top: 1px;
  width: 13.93px;
  height: 47px;
  margin-left: 0;
  gap: 13.9px;
  display: flex;
  flex-direction: column;
}

.JL-PC-tela-home .boto-edtar {
  display: flex;
  width: 13.93px;
  height: 16.54px;
  position: relative;
  align-items: center;
  gap: 8.7px;
  padding: 2.61px;
  background-color: var(--tokens-home-icons-window-home-estoque);
  border-radius: 2.61px;
}

.JL-PC-tela-home .vector-3 {
  position: relative;
  width: 9.79px;
  height: 12.4px;
  margin-top: -0.54px;
  margin-bottom: -0.54px;
  margin-left: -0.54px;
  margin-right: -0.54px;
}

.JL-PC-tela-home .vector-wrapper {
  display: flex;
  margin-left: 0;
  width: 13.93px;
  height: 16.54px;
  position: relative;
  align-items: center;
  gap: 8.7px;
  padding: 3.48px 2.61px;
  background-color: var(--tokens-windows-icons-home-estoque-listas);
  border-radius: 2.61px;
}

.JL-PC-tela-home .vector-4 {
  position: relative;
  width: 9.57px;
  height: 10.52px;
  margin-top: -0.47px;
  margin-bottom: -0.47px;
  margin-left: -0.54px;
  margin-right: -0.33px;
}

.JL-PC-tela-home .padaria {
  width: 49px;
  height: 49px;
  margin-left: 47.1px;
  display: flex;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 24.5px;
}

.JL-PC-tela-home .lucide-croissant {
  margin-top: 11.1px;
  width: 28.21px;
  height: 28.21px;
  margin-left: 9.7px;
  position: relative;
}

.JL-PC-tela-home .vector-5 {
  position: absolute;
  width: 81.19%;
  height: 81.19%;
  top: 6.93%;
  left: 6.93%;
}

.JL-PC-tela-home .text-wrapper-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15.1px;
  width: 77px;
  height: 21px;
  margin-left: 45.6px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .contador {
  margin-top: 5.9px;
  margin-left: 186.8px;
  width: 33.55px;
  height: 36.8px;
  position: relative;
}

.JL-PC-tela-home .rectangle-4 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 32px;
  height: 37px;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 5.26px;
}

.JL-PC-tela-home .text-wrapper-5 {
  position: absolute;
  top: 9px;
  left: 11px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-home-texto-titulos-windows-home);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .text-wrapper-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13.5px;
  width: 91px;
  height: 21px;
  margin-left: 76.0px;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .no-val {
  margin-top: 10px;
  width: 28.04px;
  height: 28.04px;
  margin-left: 39.7px;
  display: flex;
  background-color: var(--tokens-windows-icons-home-estoque-listas);
  border-radius: 14.02px;
}

.JL-PC-tela-home .lucide-x {
  margin-top: 3.2px;
  width: 22.78px;
  height: 22.78px;
  margin-left: 2.5px;
  position: relative;
}

.JL-PC-tela-home .vector-6 {
  position: absolute;
  width: 50.00%;
  height: 50.00%;
  top: 17.31%;
  left: 17.30%;
}

.JL-PC-tela-home .prdouto {
  top: 311px;
  width: 692px;
  height: 49px;
  position: absolute;
  left: 33px;
  display: flex;
}

.JL-PC-tela-home .botes-3 {
  margin-top: 0.2px;
  width: 13.93px;
  height: 47px;
  margin-left: 0;
  gap: 13.9px;
  display: flex;
  flex-direction: column;
}

.JL-PC-tela-home .hortifrti {
  width: 53.57px;
  height: 49.02px;
  margin-left: 47.4px;
}

.JL-PC-tela-home .text-wrapper-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14.0px;
  width: 71px;
  height: 21px;
  margin-left: 40.8px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .contador-2 {
  margin-top: 5.3px;
  margin-left: 192.8px;
  width: 33.55px;
  height: 36.8px;
  position: relative;
}

.JL-PC-tela-home .rectangle-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 37px;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 5.26px;
}

.JL-PC-tela-home .text-wrapper-8 {
  position: absolute;
  top: 9px;
  left: 6px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-home-texto-titulos-windows-home);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .text-wrapper-9 {
  margin-top: 11.7px;
  margin-left: 76.0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 21px;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .val {
  margin-top: 8.2px;
  width: 28.04px;
  height: 28.04px;
  margin-left: 39.7px;
  display: flex;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 14.02px;
}

.JL-PC-tela-home .lucide-check {
  margin-top: 4.4px;
  width: 19.28px;
  height: 21.03px;
  margin-left: 3.9px;
  position: relative;
}

.JL-PC-tela-home .vector-7 {
  position: absolute;
  width: 66.67%;
  height: 45.83%;
  top: 16.67%;
  left: 7.57%;
}

.JL-PC-tela-home .produto-2 {
  top: 245px;
  width: 690px;
  height: 48px;
  position: absolute;
  left: 33px;
  display: flex;
}

.JL-PC-tela-home .botes-4 {
  width: 13.93px;
  height: 47px;
  display: flex;
  flex-direction: column;
  gap: 13.9px;
}

.JL-PC-tela-home .no-perecivis {
  margin-top: 0.2px;
  width: 48.16px;
  height: 48.16px;
  margin-left: 47.4px;
  display: flex;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 24.08px;
}

.JL-PC-tela-home .lucide-bean {
  margin-top: 10.9px;
  width: 27px;
  height: 27px;
  margin-left: 10.2px;
  position: relative;
}

.JL-PC-tela-home .vector-8 {
  position: absolute;
  width: 83.35%;
  height: 83.35%;
  top: 5.61%;
  left: 5.61%;
}

.JL-PC-tela-home .text-wrapper-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14.2px;
  width: 46px;
  height: 21px;
  margin-left: 46.2px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .contador-3 {
  margin-top: 5.5px;
  margin-left: 217.8px;
  width: 33.55px;
  height: 36.8px;
  position: relative;
}

.JL-PC-tela-home .text-wrapper-11 {
  margin-top: 10.5px;
  margin-left: 74.0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 21px;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .lucide-check-wrapper {
  margin-top: 7px;
  width: 28.04px;
  height: 28.04px;
  margin-left: 39.7px;
  display: flex;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 14.02px;
}

.JL-PC-tela-home .produto-3 {
  top: 179px;
  width: 690px;
  height: 49px;
  position: absolute;
  left: 33px;
  display: flex;
}

.JL-PC-tela-home .botes-5 {
  margin-top: 0.4px;
  width: 13.93px;
  height: 47px;
  margin-left: 0;
  gap: 13.9px;
  display: flex;
  flex-direction: column;
}

.JL-PC-tela-home .aougue {
  width: 49.07px;
  height: 49.07px;
  margin-left: 47.4px;
  display: flex;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 24.54px;
}

.JL-PC-tela-home .lucide-beef {
  margin-top: 9.7px;
  width: 29.74px;
  height: 29.74px;
  margin-left: 10.4px;
  position: relative;
}

.JL-PC-tela-home .vector-9 {
  position: absolute;
  width: 79.19%;
  height: 83.32%;
  top: 5.85%;
  left: 5.84%;
}

.JL-PC-tela-home .text-wrapper-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17.5px;
  width: 105px;
  height: 21px;
  margin-left: 45.3px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .contador-4 {
  margin-top: 5.3px;
  width: 66.66px;
  height: 36.8px;
  position: relative;
  margin-left: 158.8px;
}

.JL-PC-tela-home .text-wrapper-13 {
  position: absolute;
  top: 9px;
  left: 43px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .text-wrapper-14 {
  margin-top: 12.9px;
  margin-left: 40.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 21px;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .lucide-x-wrapper {
  margin-top: 9.4px;
  width: 28.04px;
  height: 28.04px;
  margin-left: 39.7px;
  display: flex;
  background-color: var(--tokens-windows-icons-home-estoque-listas);
  border-radius: 14.02px;
}

.JL-PC-tela-home .prdouto-2 {
  top: 113px;
  width: 690px;
  height: 50px;
  position: absolute;
  left: 33px;
  display: flex;
}

.JL-PC-tela-home .hortifrti-2 {
  margin-top: 0;
  width: 54.59px;
  height: 49.78px;
  margin-left: 47.4px;
}

.JL-PC-tela-home .text-wrapper-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14.8px;
  width: 44px;
  height: 21px;
  margin-left: 39.8px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .contador-5 {
  margin-top: 6.0px;
  width: 33.55px;
  height: 36.8px;
  position: relative;
  margin-left: 219.8px;
}

.JL-PC-tela-home .text-wrapper-16 {
  margin-top: 14.8px;
  margin-left: 74.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 21px;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-windows-icons-texto-window-home-estoque-listas);
  font-size: 15.8px;
  letter-spacing: 0.63px;
  line-height: normal;
}

.JL-PC-tela-home .div-wrapper {
  margin-top: 11.3px;
  width: 28.04px;
  height: 28.04px;
  margin-left: 39.7px;
  display: flex;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 14.02px;
}

.JL-PC-tela-home .barra-pesquisa {
  position: absolute;
  top: 59px;
  left: 131px;
  width: 664px;
  height: 53px;
  display: flex;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 50px;
}

.JL-PC-tela-home .lupa {
  width: 53px;
  height: 53px;
  margin-left: -109px;
  display: flex;
  background-color: var(--tokens-home-icons-windows-home);
  border-radius: 26.5px;
}

.JL-PC-tela-home .lucide-search {
  margin-top: 9px;
  width: 35px;
  height: 35px;
  margin-left: 9px;
  position: relative;
}

.JL-PC-tela-home .vector-10 {
  position: absolute;
  width: 75.00%;
  height: 75.00%;
  top: 9.64%;
  left: 9.64%;
}

.JL-PC-tela-home .buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
  height: 36px;
  width: 240px;
  align-self: center;
  margin-left: 83px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--tokens-base-texto-input-sele-o);
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.JL-PC-tela-home .filtar {
  margin-top: -2px;
  width: 55px;
  height: 55px;
  margin-left: 426px;
  display: flex;
  background-color: var(--tokens-home-background-icons-home);
  border-radius: 27.5px;
}

.JL-PC-tela-home .lucide-text-align {
  margin-top: 11px;
  width: 33px;
  height: 33px;
  margin-left: 11px;
  position: relative;
}

.JL-PC-tela-home .vector-11 {
  position: absolute;
  width: 75.00%;
  height: 58.33%;
  top: 17.80%;
  left: 9.47%;
}

.JL-PC-tela-home .duvidas {
  margin-top: 3.1px;
  width: 41px;
  height: 41.93px;
  position: relative;
  margin-left: 32px;
}

.JL-PC-tela-home .ellipse {
  position: absolute;
  top: 0;
  left: 1px;
  width: 40px;
  height: 40px;
  background-color: var(--tokens-home-texto-titulos-windows-home);
  border-radius: 20.03px;
}

.JL-PC-tela-home .lucide-circle {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 41px;
  height: 41px;
}

.JL-PC-tela-home .vector-12 {
  position: absolute;
  width: 34.09%;
  height: 52.30%;
  top: 19.89%;
  left: 31.41%;
}

.JL-PC-tela-home .jialist-logo {
  position: absolute;
  top: 592px;
  left: 902px;
  width: 101px;
  height: 85px;
  aspect-ratio: 1.19;
}

.JL-PC-tela-home .text-wrapper-17 {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-home-texto-titulos-windows-home);
  font-size: 26px;
  letter-spacing: 1.04px;
  line-height: normal;
}

.JL-PC-tela-home .JC-LOGO {
  position: absolute;
  top: 29px;
  left: 29px;
  width: 169px;
  height: 72px;
}

.JL-PC-tela-home .rectangle-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 169px;
  height: 63px;
  background-color: var(--primary-verde-verde-suave);
  border-radius: 15px;
}

.JL-PC-tela-home .jialist-logo-2 {
  position: absolute;
  top: 1px;
  left: 17px;
  width: 133px;
  height: 71px;
  aspect-ratio: 1.87;
}

.JL-PC-tela-home .window-perfil {
  position: absolute;
  top: 0;
  left: 1334px;
  height: 710px;
  display: flex;
  padding: 50px 45px;
  align-items: flex-start;
  min-width: 227px;
  background-image: url(./img/window-perfil.svg);
  background-size: 100% 100%;
}

.JL-PC-tela-home .perfil {
  width: 135px;
  height: 528px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.JL-PC-tela-home .perfil-2 {
  margin-left: 0;
  width: 141px;
  height: 302px;
  position: relative;
}

.JL-PC-tela-home .foto-perfil {
  position: absolute;
  top: 106px;
  left: 1px;
  width: 135px;
  height: 135px;
  background-color: var(--primary-verde-verde-p-lido);
  border-radius: 20px;
}

.JL-PC-tela-home .lucide-user-round {
  position: absolute;
  top: 118px;
  left: 12px;
  width: 111px;
  height: 111px;
}

.JL-PC-tela-home .vector-13 {
  position: absolute;
  width: 66.67%;
  height: 75.00%;
  top: 11.15%;
  left: 15.32%;
}

.JL-PC-tela-home .perfil-3 {
  position: absolute;
  top: 0;
  left: 30px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: var(--tokens-base-texto-window-segunda);
  font-size: 30px;
  letter-spacing: 1.20px;
  line-height: normal;
  white-space: nowrap;
}

.JL-PC-tela-home .usuario {
  position: absolute;
  top: 279px;
  left: 5px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: var(--tokens-home-texto-icons-home-perfil);
  font-size: 20px;
  letter-spacing: 0.80px;
  line-height: normal;
  white-space: nowrap;
}

.JL-PC-tela-home .nome-usuario {
  position: absolute;
  top: 250px;
  left: 5px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: var(--tokens-base-texto-window-segunda);
  font-size: 22px;
  letter-spacing: 0.88px;
  line-height: normal;
  white-space: nowrap;
}

.JL-PC-tela-home .opes-perfil {
  margin-left: 5px;
  height: 171px;
  width: 130px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.JL-PC-tela-home .conta {
  display: flex;
  margin-left: 0;
  width: 130px;
  height: 41px;
  position: relative;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 10px 46px 10px 13px;
  background-color: #f5f5f5;
  border-radius: 18px;
}

.JL-PC-tela-home .img-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.JL-PC-tela-home .vector-14 {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 5.21%;
  left: 5.21%;
}

.JL-PC-tela-home .text-wrapper-18 {
  position: relative;
  width: 38px;
  font-weight: 600;
  color: var(--tokens-home-texto-icons-home-perfil);
  font-size: 12px;
  letter-spacing: 0.48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  line-height: normal;
}

.JL-PC-tela-home .listas {
  display: flex;
  margin-left: 0;
  width: 130px;
  height: 41px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 10px 45px 10px 13px;
  background-color: #f5f5f5;
  border-radius: 18px;
}

.JL-PC-tela-home .vector-15 {
  position: absolute;
  width: 66.67%;
  height: 83.33%;
  top: 5.21%;
  left: 13.54%;
}

.JL-PC-tela-home .estoque {
  margin-left: 0;
  width: 130px;
  height: 41px;
  position: relative;
  justify-content: space-between;
  padding: 8px 31px 8px 13px;
  background-color: #f5f5f5;
  border-radius: 18px;
  display: flex;
  align-items: center;
}

.JL-PC-tela-home .vector-16 {
  position: absolute;
  width: 83.33%;
  height: 75.00%;
  top: 9.38%;
  left: 5.21%;
}

.JL-PC-tela-home .text-wrapper-19 {
  position: relative;
  justify-content: center;
  width: 52px;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--tokens-home-texto-icons-home-perfil);
  font-size: 12px;
  letter-spacing: 0.48px;
  line-height: normal;
  display: flex;
  align-items: center;
}

.JL-PC-tela-home .barra-de-opes {
  position: absolute;
  width: 137px;
  height: 383px;
  top: 303px;
  left: 25px;
  display: flex;
  flex-direction: column;
}

.JL-PC-tela-home .boto-conta {
  margin-left: 10px;
  width: 106px;
  display: flex;
  gap: 15px;
}

.JL-PC-tela-home .lucide-user-round-2 {
  margin-top: 1px;
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: 0;
}

.JL-PC-tela-home .vector-17 {
  position: absolute;
  width: 66.67%;
  height: 75.00%;
  top: 12.50%;
  left: 16.67%;
}

.JL-PC-tela-home .text-wrapper-20 {
  width: 65px;
  height: 28px;
  font-weight: 700;
  color: var(--tokens-home-texto-icons-home-op-es);
  font-size: 20.6px;
  letter-spacing: 0.82px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  line-height: normal;
}

.JL-PC-tela-home .boto-listas {
  margin-left: 10px;
  width: 105px;
  margin-top: 43px;
  display: flex;
  gap: 14px;
}

.JL-PC-tela-home .lucide-notepad-text {
  margin-top: 2px;
  width: 25px;
  height: 25px;
  position: relative;
  margin-left: 0;
}

.JL-PC-tela-home .vector-18 {
  position: absolute;
  width: 66.67%;
  height: 83.33%;
  top: 4.33%;
  left: 12.67%;
}

.JL-PC-tela-home .text-wrapper-21 {
  width: 64px;
  height: 28px;
  font-weight: 700;
  color: var(--tokens-home-texto-icons-home-op-es);
  font-size: 20.6px;
  letter-spacing: 0.82px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  line-height: normal;
}

.JL-PC-tela-home .boto-estoque {
  margin-left: 11px;
  width: 128px;
  margin-top: 47px;
  display: flex;
  gap: 13px;
}

.JL-PC-tela-home .lucide-archive {
  margin-top: 2px;
  width: 25px;
  height: 24px;
  position: relative;
  margin-left: 0;
}

.JL-PC-tela-home .vector-19 {
  position: absolute;
  width: 83.33%;
  height: 75.00%;
  top: 8.33%;
  left: 4.33%;
}

.JL-PC-tela-home .text-wrapper-22 {
  justify-content: center;
  width: 88px;
  height: 28px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--tokens-home-texto-icons-home-op-es);
  font-size: 20.6px;
  letter-spacing: 0.82px;
  line-height: normal;
  display: flex;
  align-items: center;
}

.JL-PC-tela-home .exit {
  width: 28px;
  height: 32px;
  margin-top: 177px;
  display: flex;
  background-color: var(--primary-verde-verde-escuro);
  border-radius: 5px;
}

.JL-PC-tela-home .lucide-log-out {
  margin-top: 4px;
  width: 24px;
  height: 24px;
  margin-left: 1px;
  position: relative;
  transform: rotate(180deg);
}

.JL-PC-tela-home .vector-20 {
  position: absolute;
  width: 75.00%;
  height: 75.00%;
  top: 8.33%;
  left: 8.33%;
  transform: rotate(-180deg);
}
